<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="/css/jsPlumbToolkit-defaults.css"/>
<link rel="stylesheet" type="text/css" href="/css/style-architecture.css"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<script src="/lib/jquery/jquery-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/xsd/instantiator-xsd.js"></script>
<script src="/js/xsd/safe_architecture_v4-xsd.js"></script>
<script src="/lib/jsonix/Jsonix-min.js"></script>
<script src="/lib/jsplumb/dom.jsPlumb-1.7.6-min.js"></script>
<script src="/js/services/architecture-service.js"></script>
<script src="/js/controllers/architecture-controller.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="../img/logo.png" type="image/x-icon"/>
<title>Montagem da Arquitetura</title>
</head>
<body style="background: #B0C4DE;">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    	<div class="navbar-header">
	      		<a class="navbar-brand" href="#"><img width="70px" style="margin-top: -13px; float: left;" src="../img/logo.png"/></a>
	    	</div>
	    	<ul id="nav" class="nav navbar-nav">
				<li><a href="/home">Home</a></li>
				<li class="dropdown" >
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arquitetura<span class="caret"></span></a>
					<ul class="dropdown-menu">
		          		<li><a id="navSaveApp" href="#">Salvar Arquitetura</a></li>
		        	</ul>
				</li>
				<li><a id="openHelp">Ajuda</a></li>
	    	</ul>
	    	<ul id="nav" class="nav navbar-nav navbar-right">
				<h4 class="navbar-text">Arquitetura</h4>
	    	</ul>
		</div>
	</nav>
	<div class="panel panel-primary" id="paleta">
		<div class="panel-heading">
	    	<h3 class="panel-title">Paleta</h3>
	  	</div>
	  	<div class="panel-body" style="height:505px; overflow: auto;">
	  		<div id="btn-application" type="button" class="btn btn-default"><img alt="Application" src="/img/application.png" width="50px" height="40px"/><h4>Aplicação</h4></div>
	    	<div id="btn-workflow" type="button" class="btn btn-default"><img alt="Workflow" src="/img/workflow.png" width="50px" height="40px"/><h4>Workflow</h4></div>
	    	<div id="btn-computation" type="button" class="btn btn-default"><img alt="Computação" src="/img/computation.png" width="50px" height="40px"/><h4>Computação</h4></div>
	    	<div id="btn-platform" type="button" class="btn btn-default"><img alt="Plataforma" src="/img/platform.png" width="50px" height="40px"/><h4>Plataforma</h4></div>
	    	<div id="btn-repository" type="button" class="btn btn-default"><img alt="Repositório" src="/img/repository.png" width="50px" height="40px"/><h4>Repositório</h4></div>
	    	<div id="btn-connector" type="button" class="btn btn-default"><img alt="Conector" src="/img/connector.png" width="50px" height="40px"/><h4>Conector</h4></div>
	  	</div>
  	</div>
  	<div class="panel panel-default" id="workspace">
	  <div class="panel-heading">
	    <h3 class="panel-title">Arquitetura</h3>
	  </div>
	  <div class="panel-body jtk-demo-canvas canvas-wide drag-drop-demo jtk-surface jtk-surface-nopan" id="workspace-body">
<!-- 	  	<div id="trash" style="height: 80px; width: 80px;"> -->
<!--            	<img alt="lixo" src="../img/lixo.png" height="70px" width="70px" style="float:left;"/> -->
<!--            	<h3>LIXEIRA</h3> -->
<!--        	</div> -->
	  </div>
	</div>
	<div class="panel panel-primary" id="properties">
		<div class="panel-heading">
	    	<h3 class="panel-title">Propriedades</h3>
	  	</div>
	  	<div class="panel-body" id="properties-body">
	  		<h4>Environment Binding</h4>
	  		<table id="table-env-binding" class="table table-hover">
	  			<thead>
	  				<tr>
	  					<th>Use</th>
	  					<th>Provide</th>
	  				</tr>
	  			</thead>
	  		</table>
	  		<h4>Task Binding</h4>
	  		<table id="table-task-binding" class="table table-hover">
	  			<thead>
	  				<tr>
	  					<th>Left</th>
	  					<th>Right</th>
	  				</tr>
	  			</thead>
	  		</table>
	  	</div>
  	</div>
  	
  	<div id="modalComp" class="modal fade" role="dialog">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" id="title-modal"><p>Selecione um componente</p></h4>
				    </div>
		            <div class="modal-body">
		            	<p><b>Catálogo</b></p>
			            <div style=" width:250px; height:400px; overflow: auto;">
			                <ul id="listComponents"></ul>
			            </div>
			            <div style="position: absolute; top: 10px; left: 280px; width:300px; height:400px; overflow: auto;">
			                <center><label id="nameComp"></label></center>
			                <h4>Portas de Uso</h4>
			                <table class="table table-striped" id="listUsesPort"></table>
			                <h4>Portas Provedoras</h4>
			                <table class="table table-striped" id="listProvidesPort"></table>
			                <h4>Portas de Tarefa</h4>
			                <table class="table table-striped" id="listTaskPort"></table>
			            </div>
					</div>
					<div class="modal-footer">
				      	<button type="button" class="btn btn-default" data-dismiss="modal" id="addComponent">Adicionar Componente</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					</div>
	            </div>			
			</div>
        </div>
  	
  	
  	<div id="modalDownload" class="modal fade" role="dialog">
       	<div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		      	<a href="../file/architecture.xml" download="architecture.xml">Click aqui para baixar a arquitetura</a>
		      </div>
		    </div>
		</div>
     </div>
     
     <div id="modalHelp" class="modal fade" role="dialog">
       	<div class="modal-dialog">
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" id="title-modal"><p>Ajuda</p></h4>
			    </div>
				<div class="modal-body" style="padding: 30px">
					<table class="table table-striped" >
						<thead>
							<tr style="width: 30px;">
								<th>Elemento</th>
								<th>Descrição</th>
								<th>Exemplo</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<svg id="svgelem" height="30" width="30" xmlns="http://www.w3.org/2000/svg">
										<circle id="redcircle" cx="15" cy="15" r="15" fill="#008B8B" />
									</svg>
								</td>
								<td>Porta provedora (recebem ligação de portas de uso)</td>
								<td rowspan="2"><img width="150px" height="80px" src="../img/example_use_prov.png" /></td>
							</tr>
							<tr>
								<td>
									<svg id="svgelem" height="30" width="30" xmlns="http://www.w3.org/2000/svg">
										<circle id="redcircle" cx="15" cy="15" r="15" fill="##008B8B" />
									</svg>
								</td>
								<td>Porta de uso (se ligam com portas provedoras)</td>
							</tr>
							<tr>
								<td>
									<svg id="svgelem" height="30" width="30" xmlns="http://www.w3.org/2000/svg">
										<rect id="redrect" width="30" height="30" fill="#008B8B" />
									</svg>
								</td>
								<td>Porta de tarefa (se ligam com outras portas de tarefa)</td>
								<td rowspan="1"><img width="150px" height="80px" src="../img/example_task_task.png" /></td>
							</tr>
							<tr>
								<td>
									<img src="../img/icon_delete.png" height="30px" width="30px" />
								</td>
								<td>Deleter Componente da Arquitetura</td>
							</tr>
						</tbody>
					</table>
					<br/>
					<input id="helpView" type="checkbox">Não esta tela novamente!</input>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
				</div>
		    </div>
		</div>
     </div>
  	
</body>
</html>