#top{
	width: 100%;
	height: 50%;
}

#down{
	width: 100%;
	height: 41%;
}

#rodaPe{
	background-color: black;
	width: 100%;
	height: 6.1%;
}


#bts{
	position: absolute;
	left: 14%;
}

#btNovo, #btRegCon, #btUpFile, #btRunCmp{
	margin-left: 20px;
	display: table;
	position: relative;
	border-radius: 10px;
	background-color: #00CED1;
	width: 250px;
	height: 50px;
	float: left;
	text-align: center;
}

#btNovo > a, #btRegCon > a, #btUpFile > a, #btRunCmp > a{
	display: table-cell;
	vertical-align: middle;
	color: black;
}

.funcao{
  border-radius: 6px;
  float: left;
  margin: 10px;
  padding: 15px;
  background-color: #1C1C1C;
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.funcao:hover{
  background-color: #4F4F4F;
}
